body.theme-plain {
    --bg-main-workspace: linear-gradient(var(--background-secondary), var(--background-secondary));

    --shadow-setting-items: none;
    --shadow-setting-items-top: none;
    --shadow-faint: none;
    --shadow-muted: none;
    --shadow-suggestion-item: var(--glass-base-m);
    --text-muted: var(--color-base-60);
    --control-icon-color: var(--color-base-60);
}

body.theme-light.theme-plain {

    --bl-05: 99.95%;
    
    --background-modifier-cover: color-mix(in oklab, var(--color-base-60) 33%, transparent 67%);

    --settings-background: color-mix(in oklab, var(--background-secondary) 80%, var(--color-base-20));

    --shadow-button: var(--glass-base);
    --shadow-workspace: 0 0.25px 1.25px 0px var(--color-base-55);
    --shadow-workspace-multi: 0 0.25px 1.25px 0px var(--color-base-55);
}
