.theme-light.deflight {
	--accent-h: 258;	
	--accent-s: 88%;	
	--accent-l: 66%;

	--color-red-rgb: 233, 49, 71;
	--color-red: #e93147;
	--color-orange-rgb: 236, 117, 0;
	--color-orange: #ec7500;
	--color-yellow-rgb: 224, 172, 0;
	--color-yellow: #e0ac00;
	--color-green-rgb: 8, 185, 78;
	--color-green: #08b94e;
	--color-cyan-rgb: 0, 191, 188;
	--color-cyan: #00bfbc;
	--color-blue-rgb: 8, 109, 221;
	--color-blue: #086ddd;
	--color-purple-rgb: 120, 82, 238;
	--color-purple: #7852ee;
	--color-pink-rgb: 213, 57, 132;
	--color-pink: #d53984;

	--base-hue: 0;
	--base-sat-xtr: 0;
	--base-sat-str: 0;
	--base-sat-med: 0;
	--base-sat-low: 0;

	--bg-main-inner: oklch(99.00% 0 0);
	--bg-main-outer: oklch(94.00% 0 0); 

	--color-base-70: oklch(47.50% 0 0);
	--color-base-80: oklch(45.00% 0 0); 
	--color-base-90: oklch(31.25% 0 0); 
   --color-base-100: oklch(24.00% 0 0); 
}
.theme-light.utopia {
	--accent-h: 125;	
	--accent-s: 45%;	
	--accent-l: 44%;

	--color-red-rgb: 244, 41, 27;
	--color-red: rgb(244, 41, 27);
	--color-orange-rgb: 255, 106, 28;
	--color-orange: rgb(255, 106, 28);
	--color-yellow-rgb: 242, 161, 0;
	--color-yellow: rgb(242, 161, 0);
	--color-green-rgb: 46, 179, 108;
	--color-green: rgb(46, 179, 108);
	--color-cyan-rgb: 4, 168, 178;
	--color-cyan: rgb(4, 168, 178);
	--color-blue-rgb: 0, 144, 240;
	--color-blue: rgb(0, 144, 240);
	--color-purple-rgb: 126, 99, 236;
	--color-purple: rgb(126, 99, 236);
	--color-pink-rgb: 219, 76, 224;
	--color-pink: rgb(219, 76, 224);

	--base-hue: 112;
	--base-sat-xtr: 0.00750;
	--base-sat-str: 0.00375;
	--base-sat-med: 0.00125;
	--base-sat-low: 0.00000;

	--color-base-05: oklch(98.875% var(--base-sat-low) var(--base-hue));

   --trans-strong-40: oklch(from var(--color-base-50) l 0 h / 0.100);
}
.theme-light.classic {
		// --accent-h: 218;	
	// --accent-s: 62%;	
	// --accent-l: 52%; 
	--accent-h: 0;	
	--accent-s: 60%;	
	--accent-l: 60%;

	--color-red-rgb: 244, 41, 27;
	--color-red: rgb(244, 41, 27);
	--color-orange-rgb: 255, 106, 28;
	--color-orange: rgb(255, 106, 28);
	--color-yellow-rgb: 242, 161, 0;
	--color-yellow: rgb(242, 161, 0);
	--color-green-rgb: 46, 179, 108;
	--color-green: rgb(46, 179, 108);
	--color-cyan-rgb: 4, 168, 178;
	--color-cyan: rgb(4, 168, 178);
	--color-blue-rgb: 0, 144, 240;
	--color-blue: rgb(0, 144, 240);
	--color-purple-rgb: 126, 99, 236;
	--color-purple: rgb(126, 99, 236);
	--color-pink-rgb: 219, 76, 224;
	--color-pink: rgb(219, 76, 224);

	--base-hue: 80;
	--base-sat-xtr: 0.01000;
	--base-sat-str: 0.00375;
	--base-sat-med: 0.00125;
	--base-sat-low: 0.00000;

	--bg-main-inner: oklch(98.50% 0.00375 var(--base-hue));
	--bg-main-outer: oklch(93.25% 0.00375 var(--base-hue)); 

	--color-base-05: oklch(98.875% var(--base-sat-med) var(--base-hue));

   --trans-strong-40: oklch(from var(--color-base-50) l 0 h / 0.100);
}
