.view-header-reload-button {
	--icon-color: var(--text-muted);
	--icon-stroke: var(--icon-s-stroke-width);
}
// Address input
.webviewer-address-container {
	padding-inline: 4px;
}
.mod-root .webviewer-address-container {
	padding-inline: 12px;
}
.webviewer-address input {
	font-weight: var(--font-normal);
	transition: var(--anim-fast-smooth);
	--background-modifier-form-field: var(--background-primary);
	--background-modifier-form-field-hover: var(--background-primary);
}
.suggestion-container .webviewer-addressbar-suggestion {
	padding-block: var(--vl-layout-padding);
}
.suggestion-container .webviewer-addressbar-suggestion:last-of-type {
	margin-block-end: 0;
}

.webviewer-content {
	border-top: none;
}
.webviewer-content .error-notice {
	margin: auto;
	text-align: center;
}