//
// =========================== ===========================
// 6 - Plugins
// =========================== ===========================

// ============ CORE ===========

// --> Obsidian Bases <--

// fix for missing border radius visual bug
.mod-root .workspace-leaf-content[data-type="bases"] {
	border-radius: var(--radius-ml);
}
// Bases in sidebar

body:not(.is-phone) .mod-sidedock {
	.bases-view {
		--bases-table-header-background: transparent;
	}
	.workspace-leaf-content[data-type="bases"] > .view-content {
		padding-block-start: 8px;
	}
	.workspace-leaf-content[data-type="bases"] > .bases-thead {
		position: relative;
	}
	.node-insert-event.bases-cards-container {
		padding-inline: 0;
	}
	.workspace-leaf-content[data-type="bases"] .bases-view[data-view-type="cards"] {
		--bases-view-padding: 8px;
	}
	.workspace-leaf-content[data-type="bases"] .bases-header {
		--bases-header-padding-start: 4px;
		--bases-header-padding-end: 4px;
	}
}
// Compact sidebar bases header display
@container (width < 320px) {
	body:not(.is-phone) .bases-toolbar-views-menu .text-button-label {
		display: none;
	}
}

.bases-thead {
	border-block-end: var(--bases-table-row-border-width) solid var(--bases-table-border-color);
	box-shadow: none;
	--bases-table-column-border-width: 0;
	--bases-table-row-border-width: 2px;
}
.bases-table-header-label {
	padding-inline-start: 6px;
	text-transform: capitalize;
}
.bases-td {
	--divider-color-hover: var(--color-base-30);
}
.bases-view .bases-thead .bases-td .bases-table-header-name {
	font-size: var(--font-ui-small);
}

.metadata-input.mod-date,
.bases-td .metadata-input,
.bases-cards-line .metadata-input.mod-datetime {
	box-shadow: none;
	font-weight: var(--font-normal);
	letter-spacing: -0.5px;
}

// Pills/Tags in Bases

.bases-table-cell {
	padding-block: 8px;
}
.bases-metadata-value {
	padding-block: 4px;
}

.bases-tbody {
	background-color: transparent;
	background-image: repeating-linear-gradient(
		180deg,
		var(--table-row-alt-background),
		var(--table-row-alt-background) var(--bases-table-row-height),
		transparent var(--bases-table-row-height),
		transparent calc(var(--bases-table-row-height) * 2)
	);
}
.bases-td:focus-within {
	background-color: transparent;
}

// Obsidian Bases (interface)

.bases-table-header {
	--icon-color: var(--color-base-50);
}
.bases-table-header:hover {
	--bases-table-header-color: var(--bases-table-header-color-hover);
	--icon-color: var(--bases-table-header-color-hover);
}
.bases-table-header-icon {
	color: var(--icon-color);
}

// embedded Bases
.markdown-source-view .bases-embed .bases-header {
	--bases-header-padding-end: 36px;
}
.markdown-source-view .internal-embed.bases-embed .edit-block-button {
	top: 6px;
	padding: 5px;
}
.bases-view[data-view-type="table"] {
	--bases-embed-border-width: 0;
}

body.hide-bases-header .mod-root .markdown-preview-view {
	.bases-view {
		margin-top: 1.5rem;
	}
	.bases-header {
		display: none;
	}
}
// popover Bases
.popover .bases-header {
	padding-inline: 7px;
	margin-top: 1px;
}
.popover .bases-toolbar-item > .text-icon-button {
	border-radius: var(--radius-s);
}

// query toolbar pills
.bases-toolbar-item > .text-icon-button {
	background-color: var(--nav-item-background-active);
	border-radius: var(--radius-xl);
	height: var(--input-height);
	padding-inline: 10px;
	--input-font-weight: var(--font-medium);
	--icon-size: var(--icon-s);
	&:hover {
		background-color: var(--trans-faint-25);
	}
}
.bases-toolbar-views-menu .mod-aux {
	display: none;
}
.bases-toolbar-views-menu > .text-icon-button {
	padding-inline: 12px;
	--text-normal: var(--text-muted);
}
.bases-toolbar-result-count > .text-icon-button {
	padding-inline: 8px;
	background-color: transparent !important;
}
:is(.bases-toolbar-sort-menu, .bases-toolbar-filter-menu) > .text-icon-button.is-active {
	color: var(--color-accent-1);
	background-color: var(--color-accent-5);
	&:hover {
		background-color: var(--text-selection);
	}
}

// Obsidian Bases (cards)
.bases-view[data-view-type="cards"] {
	scrollbar-gutter: unset;
}
.bases-cards-item {
	border-radius: var(--radius-s);
	padding: 8px 2px 4px;
	font-weight: var(--font-normal);
	transition: box-shadow var(--anim-super-smooth);
}
.bases-cards-property.mod-title {
	font-weight: var(--font-semibold);
	font-variation-settings: "opsz" 24;
}
.bases-cards-property > .bases-cards-label {
	color: var(--bases-cards-label-color);
	font-weight: var(--font-semi-medium);
	padding-block-end: 2px;
	letter-spacing: 0.00625em;
}

// Obsidian Bases (modals)
.query-toolbar-menu {
	background-color: var(--background-secondary);
	border-radius: var(--radius-l);
}
.query-toolbar-menu .input-row {
	padding-block-end: 4px;
}
.query-toolbar-menu + .suggestion-container,
.formula-editor .cm-tooltip.cm-tooltip-autocomplete {
	border-color: var(--trans-faint-40);
}
.bases-toolbar-menu-form .input-row .input-row-label {
	font-weight: var(--font-medium);
	padding-block: 4px 8px;
	padding-inline-start: 8px;
}
.query-toolbar-menu .bases-toolbar-menu-container-header {
	padding-inline: 2px;
	> * {
		margin-block: 2px;
		padding: 6px;
	}
	> .back-button {
		color: var(--text-faint);
		padding-inline-start: 8px;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	[class*="icon"] {
		color: var(--color-base-80);
		--icon-stroke: var(--icon-stroke-thick);
	}
}
:is(.bases-toolbar-menu-container, .query-toolbar-menu) .bases-toolbar-menu-item {
	border-radius: var(--radius-sm);
	margin: 2px;
	padding-block: 6px;
	width: auto;
}

// Bases menu search input
.bases-toolbar-menu-container .search-input-container {
	background-color: var(--background-modifier-form-field);
	box-shadow: var(--shadow-normal);
	border-radius: var(--radius-sm);
	border: none;
	margin: 2px 2px 8px;
	padding-block: 0;
}
.bases-toolbar-menu-container .search-input-container input[type="search"],
.bases-toolbar-menu-container .search-input-container::before {
	margin-block-start: 2px;
	padding-block-start: 2px;
}

// Views menu
.mod-views .bases-toolbar-items .suggestion-group {
	& > * {
		padding: 6px 8px;
	}
	& .bases-toolbar-menu-item > .clickable-icon {
		background-color: var(--background-modifier-hover);
		padding-inline: 12px;
	}
	& .bases-toolbar-menu-item:not(.mod-active) > .clickable-icon {
		--background-modifier-hover: var(--trans-faint-00);
	}
	& .bases-toolbar-menu-item > .clickable-icon:hover {
		--background-modifier-hover: var(--hr-color);
	}
}
// Results limit menu
.query-toolbar-menu .input-row > .input-row-content {
	margin: 2px;
	width: auto;
}

// Filter & Sort menus shared variables
.base-toolbar-sort-item .metadata-property,
.bases-query-container .filter-expression {
	transition: box-shadow var(--anim-super-smooth);
	--input-height: 30px;
	--metadata-input-background: var(--color-base-00);
	--metadata-input-background-hover: var(--color-base-00);
	--metadata-property-background: var(--background-primary);
	--metadata-property-background-hover: var(--background-primary);
	--metadata-property-box-shadow: var(--shadow-normal);
	--metadata-property-box-shadow-hover: var(--shadow-normal);
	--metadata-property-box-shadow-focus: var(--shadow-input-active);
	--metadata-label-background: var(--color-base-00);
	--dropdown-background: transparent;
	--dropdown-background-hover: var(--trans-strong-40);
	--bases-query-input-weight: var(--font-semi-medium);

	.combobox-button {
		color: var(--color-base-50);
	}
	.combobox-button > .combobox-button-label {
		color: var(--text-normal);
	}
	.combobox-button > .combobox-button-icon {
		color: var(--icon-color);
	}
	.combobox-button > .combobox-button-icon {
		--icon-size: var(--icon-xs);
		--icon-stroke: var(--icon-xs-stroke-width);
	}
	.combobox-button.filter-property-select > .combobox-button-chevron,
	.combobox-button.bases-sort-property > .combobox-button-chevron {
		display: none;
	}
}

// Sort menu
.base-toolbar-sort-item {
	background-color: transparent;
	.bases-sort-property-container {
		padding: 0;
	}
	.bases-sort-property-container + .clickable-icon {
		padding: 6px;
	}
	.combobox-button {
		color: var(--color-base-50);
	}
	.combobox-button.bases-sort-direction {
		width: 37.5%;
		font-weight: var(--bases-query-input-weight);
		--text-normal: var(--text-accent);
	}
}
.bases-sort-container .text-icon-button {
	border-radius: var(--radius-sm);
	padding-inline-start: 6px;
	margin: -2px 2px 0;
	width: calc(100% - 4px);
}
.bases-sort-container .text-icon-button > .text-button-label {
	padding-inline-end: 12px;
}

// Filter menu
.mod-filters .query-toolbar-section-header {
	color: var(--color-base-80);
	gap: 6px;
	padding-block: 12px;
}
.mod-filters .query-toolbar-section-header .flair {
	color: var(--text-accent);
	background-color: var(--color-accent-5);
	border-radius: var(--radius-xs);
	padding: 4px 6px 2px;
}

.bases-query-container {
	background-color: var(--background-primary);
	box-shadow: var(--shadow-setting-items);
	border: 1px solid var(--setting-item-border-color);
	border-radius: var(--radius-sm);
	margin: 0 10px 10px;

	.filter-expression {
		--input-height: 30px;
	}
	.filter-rhs-container :is(.metadata-input-text, .metadata-input-longtext) {
		color: var(--text-accent);
		font-weight: var(--bases-query-input-weight);
	}
	.filter-row-actions {
		background-color: var(--metadata-input-background);
	}
	.combobox-button.filter-operator {
		font-style: italic;
		min-width: 11.25%;
		padding-inline: 6px;
		--text-normal: var(--color-base-80);
	}
	.combobox-button.filter-property-select {
		padding-inline: 8px 6px;
	}
}

.bases-query-container .filter-group {
	.filter-row .conjunction {
		font-weight: var(--bases-query-input-weight);
		color: var(--icon-color);
		min-width: 3.5rem;
	}
	> .filter-group-header > .conjunction.dropdown {
		order: 2;
		color: var(--color-base-80);
		background-color: var(--nav-item-background-active);
		--background-modifier-hover: var(--trans-faint-25);
	}
	> .filter-group-header > .filter-group-header-actions > .clickable-icon {
		padding: 6px;
	}
	> .filter-group-actions {
		justify-content: center;
		--icon-size: var(--icon-s);
	}
	> .filter-group-actions > .text-icon-button {
		padding: 6px;
	}
	.mod-group > .filter-group {
		background-color: var(--trans-strong-40);
	}
}
.combobox > .search-input-container {
	margin-block: 6px 4px;
}

// Properties menu
.mod-properties .bases-toolbar-items {
	flex-direction: column-reverse;
	.suggestion-group[data-group="actions"] {
		border-top: none;
		border-bottom: 1px solid var(--divider-color);
		padding: 0 0 2px;
	}
	.suggestion-group[data-group="actions"] > * {
		font-weight: var(--font-medium);
		padding-inline: 8px;
		width: 124px;
	}
}
.mod-properties .bases-toolbar-items .suggestion-group[data-group="properties"] {
	padding-block: 8px 0;
	> * {
		border-radius: var(--radius-xl);
		padding: 6px 8px;
	}
	.bases-toolbar-menu-item .bases-toolbar-menu-item-info {
		order: -1;
		overflow: visible;
	}
	.bases-toolbar-menu-item > .clickable-icon {
		background-color: var(--background-modifier-hover);
		border-radius: var(--radius-xl);
		padding-inline: 12px;
	}
	.bases-toolbar-menu-item.mod-implicit > .clickable-icon:hover {
		--background-modifier-hover: var(--hr-color);
	}
	.bases-toolbar-menu-item.mod-hidden > .clickable-icon {
		--background-modifier-hover: var(--trans-faint-00);
	}
	.bases-toolbar-menu-item-info-icon {
		contain: content;
		transition: var(--anim-super-swing);
	}
	.bases-toolbar-menu-item-info-icon:is(:hover, :active) {
		color: var(--text-accent);
	}
}
// Formula editor
.query-toolbar-menu .suggestion-container {
	animation: none;
}
.mod-properties .bases-toolbar-menu-form .input-row .input-row-label {
	font-weight: inherit;
}
.mod-properties .bases-toolbar-menu-form .formula-editor-container {
	box-shadow: var(--shadow-input);
	&:focus-within {
		box-shadow: var(--shadow-input-active);
	}
}
.mod-properties .bases-toolbar-menu-form .input-row .input-row-status {
	margin-block: 8px -6px;
	padding-inline-start: 4px;
}
.formula-editor .cm-placeholder {
	padding-inline-start: 2px;
}

// --> Web Viewer <--

.view-header-reload-button {
	--icon-color: var(--text-muted);
	--icon-stroke: var(--icon-s-stroke-width);
}
// Address input
.webviewer-address-container {
	padding-inline: 4px;
}
.mod-root .webviewer-address-container {
	padding-inline: 12px;
}
.webviewer-address input {
	font-weight: var(--font-normal);
	transition: var(--anim-fast-smooth);
	--background-modifier-form-field: var(--background-primary);
	--background-modifier-form-field-hover: var(--background-primary);
	--input-height: 30px;
	--shadow-input-active: var(--shadow-input), var(--shadow-s);
}

.suggestion-container .webviewer-addressbar-suggestion {
	padding-block: 8px;
}
.suggestion-container .webviewer-addressbar-suggestion:last-of-type {
	margin-block-end: 0;
}

.webviewer-content {
	border-top: none;
}

.webviewer-content .error-notice {
	margin: auto;
	text-align: center;
}

// ========= COMMUNITY =========

// --> Iconic <--

.iconic-sidekick {
	--icon-size: var(--icon-xs);
	--icon-stroke: var(--icon-stroke-thick);
	margin-inline: -1px 5px;
}

// --> List Callouts <--

.markdown-rendered .lc-list-callout {
	padding-block: var(--list-spacing-default);
	--list-spacing-default: 0.0625em;
}
// does nothing if list spacing is default (i.e., when line height is Compact)
.lc-list-callout > .list-bullet {
	padding-top: calc(var(--list-spacing) - var(--list-spacing-default));
}
.lc-li-wrapper {
	padding-block: calc(var(--list-spacing) - var(--list-spacing-default));
	padding-inline-end: 0.75em;
	z-index: 0;
}
.lc-li-wrapper::after,
.lc-list-bg::after {
	border-radius: var(--radius-s);
}
.lc-list-callout :is(strong, .cm-strong) {
	color: rgb(var(--lc-callout-color), 0.8);
}

// List Callout Default colors
.lc-list-callout[data-callout="!"] {
	--lc-callout-color: var(--color-red-rgb) !important;
}
.lc-list-callout[data-callout="~"] {
	--lc-callout-color: var(--color-purple-rgb) !important;
}
.lc-list-callout[data-callout="@"] {
	--lc-callout-color: var(--color-cyan-rgb) !important;
}
.lc-list-callout[data-callout="$"] {
	--lc-callout-color: var(--color-green-rgb) !important;
}
// List Callouts Settings
.vertical-tab-content {
	> .lc-setting {
		border-block: none;
	}
	.lc-callout-container {
		contain: content;
		background-color: var(--trans-strong-20);
		border-radius: var(--radius-sm);
		padding: 6px 16px 6px;
	}
	.lc-input-container {
		margin-inline: 12px;
	}
	.lc-input-container > input:first-of-type {
		width: 72px;
		text-align: center;
	}
}

// --> Dataview <--

.table-view-table > thead > tr > th {
	font-weight: var(--table-header-weight);
	--text-muted: var(--table-header-color);
}
div.dataview-error-box {
	border: none;
}
.dataview-error-message {
	color: var(--text-faint);
}

div[class*="el-h"] + * .dataview-container .contains-task-list {
	margin-block: 0 var(--p-spacing);
}

#calendar-container {
	padding-inline: 0;
	--color-dot: var(--color-base-50);
	--color-arrow: var(--color-base-50);
	--color-button: var(--text-muted);
	--color-text-today: var(--color-accent-1);
	--color-text-weeknum: var(--text-muted);
	--table-row-alt-background: none;
	--table-row-alt-background-hover: none;
	--table-highlight: var(--color-accent-5);
	--interactive-accent: transparent;
}
.callout #calendar-container {
	padding-top: 1rem;
	--background-primary: transparent;
	--color-arrow: var(--icon-color);
	--color-dot: rgb(var(--callout-color));
	--color-text-today: rgb(var(--callout-color));
	--table-highlight: rgb(var(--callout-color), 0.1);
}
#calendar-container .calendar {
	margin-top: 12px;
}

.mod-root #calendar-container .weekend {
	background-color: var(--table-row-bg);
}

#calendar-container th {
	background-color: var(--background-primary);
	border-color: var(--trans-faint-40);
	color: var(--text-muted);
	font-weight: 500;
	letter-spacing: normal;
	text-align: end;
	text-transform: capitalize;
	padding: 0 0.375rem 0.25rem 0;
	user-select: none;
}
#calendar-container td {
	border-top: 1px solid var(--table-border-color);
	padding: 0;
	width: 12.5%;
}
#calendar-container .day {
	color: var(--text-muted);
	font-weight: 500;
	font-size: 0.75rem;
	border-radius: 0;
	padding: 3px 4px 26px 4px;
	text-align: end;
	transition: var(--anim-super-swing);
}
#calendar-container .day:hover,
#calendar-container .day:active {
	background-color: var(--table-highlight);
}
#calendar-container .today {
	font-weight: var(--font-bold);
	color: var(--color-text-today);
}

#calendar-container .dot-container {
	width: 50%;
	position: absolute;
	justify-content: start;
	row-gap: 0.0625em;
	margin-inline-start: 3px;
	transform: translateY(-0.8175rem);
}
.mod-root #calendar-container .dot-container {
	width: 75%;
	transform: translateY(-0.875rem);
}

.mod-root #calendar-container .nav {
	padding: 0 4px;
	margin-block: 4px 0;
}
#calendar-container .month,
#calendar-container .year {
	color: var(--text-normal);
	font-size: 1.5rem;
}
#calendar-container .month {
	font-weight: var(--font-bold);
}
#calendar-container .year {
	font-weight: var(--font-normal);
}
#calendar-container .nav .reset-button {
	text-transform: capitalize;
	font-size: 0.875em;
	font-weight: var(--font-medium);
	letter-spacing: normal;
}
#calendar-container .nav .arrow {
	scale: 0.875;
}

// Sidedock calendar
.mod-sidedock #calendar-container .calendar {
	margin-top: 8px;
}
.mod-sidedock #calendar-container {
	margin-top: -8px;
	padding-inline: 0 4px;
}
.mod-sidedock #calendar-container thead tr {
	height: 28px;
}
.mod-sidedock #calendar-container th {
	background-color: transparent;
	color: var(--text-faint);
	font-weight: var(--font-black);
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0 3px;
}
.mod-sidedock #calendar-container td {
	border: none;
}
.mod-sidedock #calendar-container .day {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	font-weight: var(--font-medium);
	padding-block-end: 14px;
}
.mod-sidedock #calendar-container .today {
	color: var(--color-text-today);
	font-weight: var(--font-bold);
}

.mod-sidedock #calendar-container .nav {
	padding-inline: 3px;
	margin: 8px 0 4px 8px;
}

.mod-sidedock #calendar-container :is(.month, .year) {
	color: var(--text-muted);
	font-size: 0.8em;
}

// --> Image Converter <--

.image-convert-modal .modal-warning {
	background-color: var(--nav-item-background-active);
	margin-top: 16px;
}
.process-single-image-modal > .preview-image-container {
	background-color: var(--background-primary);
	border: none !important;
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-setting-items);
	margin-block-start: 8px !important;
}
.process-single-image-modal-buttons > .setting-item {
	padding-bottom: unset;
}

// --> Editing Toolbar <--

#editingToolbarModalBar.top {
	border-radius: var(--radius-sm);
	margin-inline: 10px;
	width: calc(100% - 84px);
	justify-content: space-between;
	& > * {
		color: var(--text-normal);
		margin: 0;
		padding: 8px !important;
	}
	&:not(:hover) > * {
		filter: opacity(0.5);
	}
	& ~ .cm-editor > .cm-scroller {
		// same padding as non-absolute positioned toolbars
		padding-top: 32px;
	}
}
#editingToolbarModalBar.top.editingToolbarDefaultAesthetic {
	border-color: transparent;
	background-color: var(--background-primary);
	width: calc(100% - 76px);
}
#editingToolbarModalBar.top.editingToolbarGlassAesthetic {
	background-color: transparent;
	background-image: linear-gradient(to bottom, var(--background-primary) 10%, transparent);
	width: calc(100% - 76px);
	position: absolute;
	& ~ .cm-editor > .cm-scroller {
		// same padding as non-absolute positioned toolbars
		padding-top: 68px;
	}
}

.setting-item.editing-toolbar-fix-button {
	background-color: var(--background-secondary) !important;
	padding: 8px 16px 8px 2px !important;
}
.position-style-info {
	border-radius: var(--radius-sm);
	position: relative;
}
.position-style-info + * > .setting-item-control {
	flex: 0 !important;
}
.command-buttons-container {
	gap: 0 !important;
}
.command-lists-container {
	border-radius: var(--radius-xl) !important;
}
.editing-toolbar-title {
	--h1-size: var(--h2-size);
	--h1-weight: var(--h2-weight);
}
.editing-toolbar-content {
	--background-secondary: transparent;
}
.editingToolbarSettingsTabsContainer > .setting-item.editingToolbarCommandItem {
	padding-inline-end: 40px;
	--setting-item-bg: var(--trans-strong-30);
}
.setting-item.editingToolbarCommandsubItem {
	padding-inline-end: 19px !important;
}
.editingToolbarSettingsTabsContainer {
	border-block: none;
	margin-block: 8px 0;
}
.editingToolbarCommandsubItem > .setting-item-info {
	flex: 30% !important;
}
.editingToolbarCommandsubItem > .setting-item-control {
	flex: 0 !important;
	margin-inline-end: 21px;
}

button.editingToolbarSettingsButton {
	border-radius: var(--radius-s);
}
button:not(.mod-cta):not(.mod-warning).editingToolbarSettingsIcon {
	box-shadow: var(--shadow-input) !important;
}

// --> Kanban <--
//
// .kanban-plugin__scroll-container {
// will-change: unset;
// }
//
// .kanban-plugin__lane {
// border-radius: var(--radius-m);
// border: none;
// contain: content;
// }
// .kanban-plugin__lane-items {
// margin-inline: 0;
// padding-inline: 8px;
// row-gap: 3px;
// }
// .kanban-plugin__item {
// box-shadow: var(--shadow-normal);
// border: none;
// border-radius: var(--radius-sm);
// }
//
// .kanban-plugin__item-button-wrapper {
// display: flex;
// justify-content: center;
// }
// button.kanban-plugin__new-item-button {
// width: fit-content;
// padding-inline: 20px;
// background-color: var(--background-primary);
// color: var(--text-normal) !important;
// font-size: 0.8125rem;
// }
// .kanban-plugin__item-button-plus {
// display: none;
// }

// --> Notebook Navigator <--

body:not(.is-mobile) .workspace-leaf-content[data-type="notebook-navigator"] {
	padding-inline: unset;
}

.notebook-navigator {
	background-color: transparent;
	padding-block-start: unset !important;
	// colors
	--nn-theme-divider-border-color: var(--hr-color);
	--nn-theme-divider-resize-handle-hover-bg: var(--divider-color-hover);
	--nn-theme-file-date-color: var(--color-base-80);
	--nn-theme-file-selected-date-color: var(--color-base-80);
	--nn-theme-file-preview-color: var(--icon-color);
	--nn-theme-file-selected-preview-color: var(--icon-color);
	--nn-theme-header-border-color: var(--hr-color);
	--nn-theme-list-group-header-color: var(--color-base-55);
	--nn-theme-list-header-icon-color: var(--color-base-80);
	--nn-theme-navitem-chevron-color: var(--collapse-icon-color);
	--nn-theme-navitem-icon-color: var(--icon-color);
	--nn-theme-navitem-name-color: var(--color-base-80);
	--nn-theme-navitem-count-color: var(--collapse-icon-color);
	--nn-theme-navitem-hover-bg: var(--trans-strong-40);

	// bg colors
	--nn-theme-file-selected-bg: var(--nav-item-background-active);
	--nn-theme-list-bg: transparent;
	--nn-theme-list-header-bg: transparent;
	--nn-theme-nav-bg: transparent;
	--nn-theme-nav-header-bg: transparent;
	--nn-theme-navitem-selected-bg: var(--nav-item-background-active);
	// weights
	--nn-theme-file-name-font-weight: var(--font-semibold);
	--nn-theme-file-slim-name-font-weight: var(--font-normal);
	--nn-theme-file-preview-font-weight: var(--font-normal);
	--nn-theme-file-date-font-weight: var(--font-normal);
	--nn-theme-file-parent-font-weight: var(--font-normal);
	--nn-theme-file-tag-font-weight: var(--font-semi-medium);
	--nn-theme-list-header-breadcrumb-font-weight: var(--font-semibold);
	--nn-theme-list-group-header-font-weight: var(--font-semi-medium);
	--nn-theme-navitem-name-font-weight: var(--font-normal);
	--nn-theme-navitem-count-font-weight: var(--font-normal);
	// dimensions
	--nn-theme-navitem-border-radius: var(--radius-s);
	--nn-separator-height: 0;
}
.mod-sidedock .notebook-navigator {
	padding-block-start: 2px !important;
}

.nn-single-pane.show-navigation > .nn-navigation-pane > * {
	border-inline: unset;
}
.nn-resize-handle {
	transition: background-color 200ms ease-in-out;
}
.nn-pane-header {
	border-block-end: unset;
	height: auto;
}
.nn-pane-header:first-child {
	margin-inline-start: 4px;
}
.nn-header-actions button.nn-icon-button {
	contain: content;
	height: fit-content;
	padding: 8px;
}

.nn-search-input-container {
	--nn-theme-list-header-breadcrumb-color: var(--text-faint);
	--nn-theme-list-header-icon-color: var(--text-faint);
}
.nn-search-input {
	border: unset !important;
	--nn-theme-list-bg: var(--search-result-background);
}
.nn-search-input:focus {
	box-shadow: 0 0 0 2.25px var(--color-accent-4) !important;
}
.nn-search-input-icon {
	top: 5px;
}

.nn-file.nn-slim {
	--nn-theme-file-border-radius: var(--radius-s);
}
.nn-file-second-line {
	margin-block: 2px -2px;
}
.nn-file.nn-selected > .nn-file-content::before {
	inset-block: 1px !important;
}
.nn-file:not(.nn-selected):hover > .nn-file-content::before {
	content: "";
	position: absolute;
	top: 0;
	inset-inline: 0;
	inset-block: 1px;
	border-radius: min(16px, var(--nn-theme-file-border-radius));
	z-index: 0;
	background-color: var(--nn-theme-navitem-hover-bg);
}
.nn-selected:hover {
	--nn-theme-navitem-hover-bg: transparent;
}
.nn-navitem[aria-expanded="true"] {
	--nn-theme-navitem-chevron-color: var(--text-muted);
	--nn-theme-navitem-icon-color: var(--text-normal);
	--nn-theme-navitem-selected-icon-color: var(--color-base-100);
	--nn-theme-navitem-name-font-weight: var(--font-semibold);
}

// --> Omnisearch <--

.omnisearch-input-container {
	padding: 8px;
	gap: 8px;
}
.omnisearch-input-container__buttons {
	display: none;
}
.omnisearch-input-container__buttons:has(button) {
	display: unset;
	margin-inline-end: 8px;
	z-index: 1;
}

// --> Tabs (plugin) <--

.tabs-container {
	margin: 0;
	padding: 0;
}

.tabs-container .tabs-contents {
	padding: 0.75em 1.75em;
}

.tabs-nav-item {
	font-weight: var(--font-medium);
}

// --> Vertical Tabs <--

body:not(.is-phone) .vertical-tabs > .obsidian-vertical-tabs-container {
	.tree-item.is-group .tree-item-children {
		display: flex;
		flex-direction: column;
		row-gap: 1px;
	}
	.tree-item.is-tab {
		margin-inline-start: 0;
	}
	.tree-item.is-tab > .tree-item-self.tree-item-self.is-clickable {
		margin-block: 0;
		padding-inline-start: 28px;
		padding-block: calc(var(--vl-layout-padding) + 1px) calc(var(--vl-layout-padding) - 1px);
	}
	.tree-item.is-tab.is-highlighted > .tree-item-self.is-clickable {
		background-color: var(--color-accent-6);
		color: var(--text-accent);
	}
}
// other elements
body:not(.is-phone) .tree-item.is-group-slot > .tree-item-self {
	margin-block-start: 4px;
	padding-inline-start: 28px;
}

// --> Pomodoro Timer <--

// Timer
body:not(.is-mobile) .view-content .timer-text {
	font-variant-numeric: tabular-nums;
}
// Button group
.btn-group {
	border-radius: var(--radius-sm);
	padding: 2px;
	margin-top: 8px !important;
}
.btn-group:hover {
	background-color: var(--trans-strong-40);
}
body:not(.is-mobile) .workspace-leaf-content .view-content .btn-group .control {
	border-radius: var(--radius-s);
	padding: 7.5px 8px 2.5px 8px;
	padding-inline: 8px;
	transition: var(--anim-super-swing);
}
.btn-group .control:hover {
	background-color: var(--nav-item-background-hover);
	filter: opacity(100%) !important;
}
// Page title
body:not(.is-mobile) .workspace-leaf-content .view-content .pomodoro-tasks-wrapper {
	border: none;
}
body:not(.is-mobile) .workspace-leaf-content .pomodoro-tasks-header .pomodoro-tasks-header-title {
	border-radius: var(--radius-s);
	padding-block: 9px 8px;
	font-weight: var(--font-semibold);
}
body:not(.is-mobile) .workspace-leaf-content .pomodoro-tasks-header .pomodoro-tasks-header-title .pomodoro-tasks-count {
	margin-bottom: 2px;
}
body:not(.is-mobile) .workspace-leaf-content .pomodoro-tasks-header .pomodoro-tasks-pin {
	padding-right: 6px;
}

// --> Recent Files <--

.recent-files-file .nav-file-tag {
	margin-inline-start: 6px;
}

// Todoist Sync

.todoist-tasks-list {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.cm-lang-todoist {
	border-radius: var(--radius-ml) !important;
}
.block-language-todoist {
	contain: layout;
	border-radius: var(--radius-xl);
	padding: 0.125rem 0.125rem 0.15625rem 0.125rem;
}
.cm-embed-block.markdown-rendered.cm-lang-todoist,
.el-pre > .block-language-todoist {
	margin-block: var(--p-spacing) !important;
}

.todoist-query-header {
	position: absolute;
	right: 0%;
}
.todoist-query-header .todoist-query-controls {
	gap: 4px;
}
.todoist-query-header .todoist-query-controls .todoist-query-control-button {
	padding-inline: 12px;
	border: none !important;
	margin: unset;
	transition: var(--anim-fast-swing);
	opacity: 0;
	--interactive-normal: transparent;
	&:hover {
		background-color: var(--nav-item-background-active);
	}
}

.todoist-group-title {
	margin-block: 0 1.25rem;
}
.todoist-task-container {
	background-color: var(--trans-strong-40);
	border-block: unset !important;
	border-radius: var(--radius-m);
	padding: 0.5rem;
}

.todoist-task-container .todoist-task-checkbox {
	margin-block-start: 0.25rem;
	margin-inline-start: 0.1875rem;
}
.todoist-task-metadata {
	margin: unset !important;
	padding-inline-end: 0.125rem;
	--icon-s: 0.875rem;
}
.todoist-task-metadata .task-metadata-item[data-project-color="charcoal"] {
	color: var(--icon-color);
}
.todoist-task-metadata .task-metadata-item > .obsidian-icon {
	padding-bottom: 0.125rem;
}
.todoist-task-container .todoist-task-checkbox div {
	border: unset !important;
	box-shadow: inset 0 0 0 1.25px var(--todoist-checkbox-border);
	opacity: 0.75;
	transition: var(--anim-fast-smooth);
	&:hover {
		opacity: unset;
	}
}

.todoist-callout {
	border-radius: var(--radius-sm);
	margin-block-start: 0;
}
.todoist-callout .callout-header {
	margin-block-end: unset;
}

// --> Widgets <--

// Clock
.Clock_Divider {
	background-color: unset;
	margin-block: 0 var(--p-spacing);
}
.Clock__time-container {
	font-weight: var(--h1-weight);
	padding-block-end: 0.875rem;
}
.Clock__am-pm {
	display: none;
}

// Quote
.Quote_Container,
.Countdown_Item {
	background-color: var(--code-background);
	border: unset;
	border-radius: var(--radius-ml);
}

// Countdown
.Countdown_Item {
	> h3,
	small {
		font-weight: var(--font-semi-medium);
		--h3-color: var(--color-base-80);
	}
}
