/*
=========================== ===========================
			5 - Mobile
=========================== ===========================
*/
.is-mobile {
	--radius-l: 19px;
	--radius-xl: 21px;
	--radius-xxl: 24px;
	--radius-settings: 36px;

	/* sliders */
	--slider-track-height: 32px;
	--slider-thumb-height: 20px;
	--slider-thumb-width: 20px;
	--slider-thumb-y: -7px;

	/* toggles */
	--toggle-width: 60px;
	--toggle-border-width: 6px;
	--toggle-thumb-height: 20px;
	--toggle-thumb-width: 20px;
	--toggle-thumb-padding: 10px;

	/* view header */

	/* vault profile */
	--vault-profile-font-weight: var(--font-medium);
}
.is-phone {
	/* file margins */
	--file-margins-x: 24px;

	/* smaller headings */
	--h1-size-alt: 1.5em;
	--h1-size: 1.875em;
	--h2-size: 1.375em;
	--h3-size: 1.25em;
	--h4-size: 1.125em;
	--h5-size: 1em;
	--h6-size: 0.875em;

	/* settings */
	--setting-items-radius: calc(var(--touch-radius-xs) + 4px);

	/* view header */
	--file-header-justify: start;
}
.is-tablet {
	--touch-radius-xs: var(--radius-xxl);

	--input-radius: var(--radius-m);
	--modal-radius: var(--radius-settings);
}

/* Sliders and Toggles */
.is-mobile input[type='range']::-webkit-slider-runnable-track {
	padding-inline: 6px;
}

/* Menu */
.is-phone .menu-scroll {
	margin-block: 2px;
	margin-inline: 16px;
	padding: 0 0 32px 0;
	border-radius: var(--touch-radius-xxs);
	clip-path: stroke-box;
}

/* Modal */
.is-phone .modal-title {
	font-size: 20px;
}
.is-phone .modal.mod-settings.mod-sidebar-layout {
    --modal-header-height: calc(var(--safe-area-inset-top) + 52px);
}

.is-phone .modal .modal-setting-back-button {
	inset-block-end: 8px;
}

/* Navbar */
.mobile-navbar.mod-raised {
	padding: 4px;
}

/* Prompt */
.is-mobile:not(.is-phone) .prompt {
	height: auto;
	inset-block: 12vh;
	margin-block: 0;
}
.is-phone .prompt {
	margin-inline: 2px;
	width: auto;
}
.is-phone .prompt-results > .suggestion-item {
	padding-inline: 20px;
	border-radius: var(--touch-radius-s);
}
.is-phone .prompt-results {
	padding: 12px;
}
.is-phone .prompt-results::-webkit-scrollbar {
	display: none;
}
.is-phone .prompt .suggestion-item {
	padding-inline: 24px;
	border-radius: var(--touch-radius-xxs);
}

/* Settings */
.is-mobile .mod-settings .setting-group > .setting-items .setting-item {
	padding-inline: 0;
}
.is-tablet .mod-settings .setting-group > .setting-items .setting-item {
	padding-inline: 5px 0;
}
.is-phone .setting-items .setting-item > .setting-item-info {
	padding-inline-start: 4px;
}

/* View header */
.is-tablet .workspace-tab-header-tab-list > .clickable-icon {
	--icon-size: var(--icon-l);
}
.is-phone .view-header-left {
	display: none;
}
.is-phone .view-header-title-container {
	padding-inline-start: 12px;
}

/* Vault profile/Drawer */
.workspace-drawer-header-name-text {
	font-variation-settings: 'opsz' 28;
	font-weight: var(--vault-profile-font-weight);
}