.prompt {
	contain: content;
	box-shadow: var(--glass-base-l), var(--shadow-strong);
	border-radius: var(--radius-prompt);
	font-weight: var(--font-normal);
	margin-block: 15vh;
	top: 0;
	--prompt-border-width: 0;
}
body:not(.is-phone) .prompt {
	animation: var(--anim-duration-moderate) var(--vl-ease-out) anim-modals;
}

// Prompt Input 
body:not(.is-phone) .prompt-input-container {
	padding: 7px 16px 0 16px;
	justify-content: center;
	z-index: 1;
	&::after {
		content: '';
		width: calc(100% - 36px);
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: var(--trans-faint-20);
		display: flex;
		border-radius: var(--radius-xxl);
		margin-block: 0.375rem 0;
	}
}
input.prompt-input, 
input.prompt-input:active, 
input.prompt-input:focus,
input.prompt-input:hover {
	text-indent: 1px;
    background-color: transparent;
	border-bottom: 3px solid transparent;
	box-shadow: unset;
    font-size: 18px;
	padding-inline: calc(var(--vl-layout-padding) + 2px);
}
input.prompt-input::placeholder {
	color: oklab(from var(--color-base-60) l a b / 0.625);
}

// Results 
.prompt-results {
	contain: content;
    padding-block-start: calc(var(--vl-layout-padding) + 2px);
	padding-inline: 14px;
	will-change: scroll-position;
}
.prompt .suggestion-item {
	contain: content;
	border-radius: var(--radius-sm);
	color: var(--color-base-100);
    padding-block: calc(var(--vl-layout-padding) + 2px);
    padding-inline: calc(var(--vl-layout-padding) + 6px) calc(var(--vl-layout-padding) * 1.25);
	
}
.prompt .suggestion-item > .suggestion-content {
	width: 100%;
}

.prompt .suggestion-item .suggestion-title > .suggestion-highlight {
	display: contents;
}
.prompt .suggestion-prefix {
	color: var(--text-muted);
	z-index: -1;
}
.prompt .suggestion-aux {
	margin-inline-start: 6px;
}
.suggestion-item.mod-complex .suggestion-action {
    color: var(--text-on-accent);
	padding-inline-end: 4px;
}
.prompt .suggestion-item .suggestion-hotkey {
	border-radius: var(--code-radius);
	color: var(--color-base-80);
	font-weight: var(--font-medium);
}

.prompt .suggestion-item.is-selected {
	background-color: var(--interactive-accent);
	box-shadow: var(--shadow-suggestion-item);
	color: var(--text-on-accent);
	--text-muted: var(--trans-white-00);
	--text-accent: var(--trans-white-00);
	--color-base-80: var(--trans-white-00);
}
.prompt .suggestion-item.is-selected .suggestion-hotkey {
	background-color: transparent;
	color: var(--text-on-accent);
}

.suggestion-item.mod-complex .suggestion-aux {
    gap: 4px;
}

// Instructions 
.prompt-instructions {
	border-top: unset;
    color: var(--text-faint);
}