//
// =========================== ===========================
// 3 - Interface
// =========================== ===========================

// FROM Willemstad
// By tingmelvin

body.improve-pinned-tabs .mod-root > .workspace-tabs:not(.mod-stacked) .workspace-tab-header:has(.mod-pinned) {
	max-width: 60px;
	> .workspace-tab-header-inner {
		background-color: var(--trans-faint-05);
	}
	&.is-active > .workspace-tab-header-inner {
		background-color: var(--color-accent-6);
	}
	.workspace-tab-header-inner-title,
	.workspace-tab-header-inner-icon {
		display: none;
	}
	.workspace-tab-header-status-container {
		margin-inline: unset;
		--background-modifier-active-hover: var(--color-accent-6);
	}
}

// --> Document Search <--

body:not(.is-phone) {
	.document-search-container {
		contain: paint;
		background-color: var(--background-primary);
		border-radius: var(--radius-xxl);
		box-shadow: var(--shadow-fab);
		padding: 6px;
		position: absolute;
		right: 0;
		top: 1px;
		gap: 4px;
		margin: 4px 8px;
		--background-primary: var(--fab-bg);
		--search-icon-color: var(--color-base-55);
	}
	.mod-right-split .document-search-container {
		right: unset;
		left: 0;
	}
	.mod-right-split .document-search-container * {
		flex-direction: row-reverse;
	}
	.mod-root .document-search-container {
		right: 60px;
		top: 15px;
		--background-primary: var(--fab-bg);
	}
	.document-search-container :is(.document-search, .document-replace) {
		background-color: transparent;
		padding-inline: unset;
		gap: 4px;
	}
	:is(.document-search-input, .document-replace) input {
		box-shadow: var(--shadow-sidebar);
		border-radius: var(--radius-l);
		--background-modifier-form-field: var(--search-result-background);
		--background-modifier-form-field-hover: var(--search-result-background);
	}
	:is(.document-search-input, .document-replace) input:focus {
		box-shadow: 0 0 0 2.25px var(--text-highlight-bg-search-active);
	}
	.document-replace input {
		text-indent: 5.5px;
	}
	.document-search-container .clickable-icon {
		border-radius: var(--radius-m);
	}
	.mod-replace-mode .document-search-close-button {
		margin-inline-end: 4px;
	}
	.document-replace input::placeholder {
		text-indent: 5.5px;
	}
	.document-replace-buttons {
		margin-inline-end: 72px;
	}
}
// Search highlights
.markdown-rendered .search-highlight > div,
.markdown-rendered .search-highlight > div.is-active,
.cm-s-obsidian span.obsidian-search-match-highlight {
	background-color: var(--text-highlight-bg-search-active);
	box-shadow: none;
	filter: opacity(100%);
}
.markdown-rendered .search-highlight > div {
	background-color: var(--text-highlight-bg-search-active);
}

// --> Ribbon <--

.workspace-ribbon > .side-dock-actions {
	gap: 4px;
}
.workspace-ribbon > .sidebar-toggle-button {
	padding-inline-start: 8px;
}
.clickable-icon.side-dock-ribbon-action {
	--icon-color: var(--text-muted);
	--icon-color-hover: var(--color-base-100);
}

// --> Vault Profile <--

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
	border: none;
	background-color: transparent;
	font-variation-settings: "opsz" 28;
}
body:not(.is-mobile)
	.workspace-split.mod-left-split
	.workspace-sidedock-vault-profile
	.workspace-drawer-vault-switcher {
	height: 100%;
}
body:not(.is-mobile)
	.workspace-split.mod-left-split
	.workspace-sidedock-vault-profile
	.workspace-drawer-vault-switcher-icon {
	color: var(--vault-profile-color);
	--icon-stroke: 2.125px;
}
body:not(.is-mobile)
	.workspace-split.mod-left-split
	.workspace-sidedock-vault-profile
	.workspace-drawer-vault-actions
	> :first-child {
	display: none;
}


// --> PDF viewer <--

.pdfViewer > .page {
	border: unset;
}

.pdf-toolbar-left {
	> .clickable-icon {
		padding: 8px;
		--icon-stroke: var(--icon-m-stroke-width);
		--icon-color: var(--text-muted);
	}
	> .pdf-page-input {
		margin-inline-end: 2px;
		--input-height: 26px;
	}
}
.pdf-sidebar-container {
	--divider-width: 1px;
}
.pdf-sidebar-container {
	.thumbnail {
		border-radius: var(--radius-m);
	}
	.thumbnail > img,
	.thumbnail::before {
		border-radius: var(--radius-xs);
	}
}
.mod-sidedock .pdf-toolbar {
	padding: 8px;
}

// --> Empty State <--

// REMOVED FOR NOW
