/*--> Status Bar <--*/

.status-bar {
	outline: 0px solid var(--status-bar-border-color);
	filter: opacity(0.375);
	font-weight: var(--font-normal);
	max-height: 28px;
	margin-block-end: 8px;
	padding-inline: 4px;
	transition: var(--anim-duration-moderate) var(--vl-ease-out);
	-electron-corner-smoothing: var(--corner-smoothing);
}
.status-bar:hover,
body.disable-status-fade .status-bar {
	outline-width: 1px;
	filter: opacity(1);
	backdrop-filter: brightness(1.125) var(--blur-m);
	box-shadow: var(--menu-shadow);
}

.status-bar-item {
	contain: content;
	padding: 4px;
}
.status-bar-item.mod-clickable {
	border-radius: var(--radius-l);
	padding-inline: 6px;
	-electron-corner-smoothing: var(--corner-smoothing);
	--background-modifier-hover: var(--hr-color);
}

/* make room for status bar */
.mod-right-split > .workspace-tabs:last-of-type > .workspace-tab-container > .workspace-leaf {
	padding-block-end: 40px;
}