audio, 
img, 
video {
    border-radius: var(--radius-sm);
	-electron-corner-smoothing: var(--corner-smoothing);
}
.image-embed img, 
.markdown-rendered img {
    border-radius: var(--radius-sm);
}
body.enable-dim-img.theme-dark :is(.markdown-preview-view, .markdown-source-view)
:is(.image-embed img, 
	.markdown-rendered img) {
	filter: opacity(0.75);
	transition: filter var(--anim-fast-smooth);
}
body.enable-dim-img.theme-dark :is(.markdown-preview-view, .markdown-source-view)
:is(.image-embed img, 
	.markdown-rendered img):hover {
	filter: unset;
}