.callout .callout-content {
	--code-background: var(--code-background-alt);
	--blockquote-color: var(--color-base-80);
	--blockquote-border-color: rgb(var(--callout-color), 0.75);
	--math-color: var(--color-base-80);
}
body:not(.disable-callout-styling) {
	--callout-border-opacity: 0.2;
	--callout-radius: var(--radius-sm);
	--callout-padding: 16px;
    // --callout-title-padding: 0px; 
    
    // Callout colors 
	--callout-bug: var(--color-pink-rgb);
	--callout-warning: var(--color-yellow-rgb);

    // Styling 
	.markdown-source-view .cm-content > .cm-callout[contenteditable=false] {
		border-radius: var(--callout-radius);
		contain: none !important;
		overflow: visible;
		transition: box-shadow var(--anim-fast-swing);
	}
	.callout {
		color: var(--color-base-80);
		background-color: transparent;
		background-image: radial-gradient(180% 60% at 50% 0%, 
		rgb(var(--callout-color), 0.0625),
		rgb(var(--callout-color), 0.1));
		box-shadow: 
		0 0 0 1.75px rgb(var(--callout-color), var(--callout-border-opacity));
		margin-inline: 1px;
		outline: 1px solid var(--background-primary);
		--bold-color: var(--color-base-80);
		--italic-color: var(--color-base-80);
	}
	.callout .callout {
		margin-inline: 0.125em;
		outline-color: var(--trans-strong-20);
	}

	.callout-title {
		align-items: center;
	}
	.callout-title-inner {
		font-size: 1.125rem;
		font-weight: var(--font-semibold);
		padding-inline-start: 0.125rem;
		--bold-color: var(--callout-title-color);
		--italic-color: var(--callout-title-color);
	}
	.callout-title-inner > :is(h1,h2,h3,h4,h5,h6) {
		margin-block: 0 !important;
		color: var(--callout-title-color);
	}
	.callout-title-inner > h1::after {
		display: none !important;
	}

	.callout-icon {
		margin-inline: -0.125rem 0.125rem;
	}
	
	.callout > .callout-content {
		padding-inline: 1.5rem 0.75rem;
	}
	.callout > .callout-content > p:first-child {
		margin-block-start: 0.5rem;
	}
	.callout > .callout-content > :last-child {
		margin-block-end: 0;
	}

	.callout-fold {
		padding-inline-end: 0;
		margin-left: auto;
		--icon-stroke: var(--icon-stroke-thick);
	}

    // Things inside Callouts 
	.callout table {
		--table-border-color: var(--hr-color);
	}
	:is(.callout[data-callout="quote"], .callout[data-callout="cite"]) .callout-content {
		color: var(--blockquote-color);
	}
}