// Formatting markers

.cm-formatting-strong {
	font-weight: var(--font-normal);
}
.cm-s-obsidian span.cm-formatting-quote {
	padding-inline-start: 0.25rem;
}

// Strikethrough / Checklist crossed-out
.cm-strikethrough,
del {
	color: var(--strikethrough-color);
	--bold-color: var(--strikethrough-color);
	--italic-color: var(--strikethrough-color);
}
del {
	--text-highlight-bg: var(--hr-color);
}

.markdown-rendered del > mark {
	color: var(--strikethrough-color);
}
.markdown-rendered mark > del {
	color: inherit;
}

// Highlights

.cm-s-obsidian span.cm-highlight,
:is(.markdown-source-view, .markdown-preview-view) mark {
	box-decoration-break: clone;
	padding-block: 0.125rem;
	--bold-color: var(--text-normal);
	--italic-color: var(--text-normal);
}
:is(.markdown-source-view, .markdown-preview-view) mark {
	border-radius: var(--radius-xs);
	padding-inline: 0.25rem;
	--text-normal: var(--color-base-100);
}

// first formatting highlight
.cm-line > .cm-formatting-highlight:nth-child(1 of .cm-formatting-highlight),
// first non-formatting highlight
.cm-line > .cm-highlight:nth-child(1 of .cm-highlight),
// non-first highlight/formatting highlight following other content
.cm-line > :is(:not(.cm-highlight), .cm-formatting-highlight) + .cm-widgetBuffer + span + .cm-widgetBuffer + .cm-highlight {
	border-top-left-radius: var(--radius-xs);
	border-bottom-left-radius: var(--radius-xs);
	padding-inline-start: 0.25rem;
}

// last formatting highlight
.cm-line > .cm-formatting-highlight:nth-last-child(1 of .cm-formatting-highlight),
// last non-formatting highlight
.cm-line > .cm-highlight:nth-last-child(1 of .cm-highlight),
// non-last highlight/formatting highlight followed by other content
.cm-line > .cm-highlight:has(+ .cm-widgetBuffer + span + .cm-widgetBuffer + :is(:not(.cm-highlight), .cm-formatting-highlight)) {
	border-top-right-radius: var(--radius-xs);
	border-bottom-right-radius: var(--radius-xs);
	padding-inline-end: 0.25rem;
}

// Highlight flash (for example, when clicking on Outline items)
.view-content .is-flashing {
	box-shadow: 0 0 0 6px var(--text-highlight-bg);
}

// --> HRs <--

.modal hr,
.markdown-source-view hr,
.markdown-preview-view hr,
.embedded-backlinks > .nav-header {
	background-color: var(--hr-color);
	border: none;
	border-radius: var(--radius-l);
	contain: content;
	height: 0.125rem;
	-electron-corner-smoothing: var(--corner-smoothing);
}
