// List spacing
.markdown-rendered :is(ol, ul) > li {
	margin-inline-start: 1.75em;
}
.list-bullet,
.markdown-rendered ul > li {
	--list-marker-color: var(--list-bullet-color);
}
.markdown-rendered li > :is(ul, ol) {
	padding-block: var(--list-spacing);
}

// Animation for list collapse even in Live Preview
@starting-style {
	.cm-fold-indicator > .collapse-icon > .svg-icon {
		transform: rotate(calc(var(--direction) * -1 * 90deg));
	}
	.cm-fold-indicator > .collapse-icon.is-collapsed > .svg-icon {
		transform: rotate(0);
	}
}

// Lists: special styling
body:not(.disable-list-styling) {
	.list-bullet::after,
	.modal-content li::marker {
		contain: content;
		height: 0.125rem;
		width: 1rem;
		-electron-corner-smoothing: var(--corner-smoothing);
		--background-modifier-hover: transparent;
		--background-modifier-active-hover: transparent;
		--list-bullet-radius: 1rem;
		--list-bullet-transform: translateX(-0.125rem);
		--list-marker-color: var(--list-dash-color);
		--list-marker-color-hover: var(--list-dash-color);
	}
	.cm-formatting-list-ul {
		margin-inline-end: 0.125rem;
	}
	.is-collapsed ~ .cm-formatting-list-ul,
	.is-collapsed > .list-bullet {
		opacity: var(--icon-opacity);
	}
}
