/* 
----------------------------------
	Velocity 
	2.0.0

	by Floodlight
----------------------------------
	00_ELEMENTS
	10_COLORS
	20_MARKDOWN
	30_INTERFACE
	40_MODALS
	50_MOBILE
	60_INTEGRATIONS
	70_EXTRAS
----------------------------------
*/

@use "00_elements/__root";
@use "00_elements/_base";
@use "00_elements/_fonts";
@use "00_elements/_custom-icons";
@use "00_elements/_media";

@use "10_colors/_dark-colors";
@use "10_colors/_dark-extra-colors";
@use "10_colors/_light-colors";
@use "10_colors/_light-extra-colors";

@use "20_markdown/__markdown";
@use "20_markdown/_blockquotes";
@use "20_markdown/_callouts";
@use "20_markdown/_checkboxes";
@use "20_markdown/_code";
@use "20_markdown/_embeds";
@use "20_markdown/_formatting";
@use "20_markdown/_headings";
@use "20_markdown/_lists";

@use "30_interface/__interface";	
@use "30_interface/_clickable-icons";
@use "30_interface/_document-search";
@use "30_interface/_fab-and-header";
@use "30_interface/_file-tree";
@use "30_interface/_layout";
@use "30_interface/_nav-header";
@use "30_interface/_sidebar-content";
@use "30_interface/_status-bar";
@use "30_interface/_tabs";
@use "30_interface/_titlebar";

@use "40_modals/__modals";	
@use "40_modals/_confirmation-modal";	
@use "40_modals/_menu";	


@use "50_mobile/__mobile";	

@use "60_integrations/___plugins";	
@use "60_integrations/__bases";	
@use "60_integrations/__canvas";
@use "60_integrations/__web-viewer";
@use "60_integrations/_autofit-tabs";
@use "60_integrations/_omnisearch";
@use "60_integrations/_style-settings";	

@use "70_extras/_css-classes";
@use "70_extras/_active-highlight";
@use "70_extras/_alt-checkboxes";
@use "70_extras/_auto-hide";
@use "70_extras/_math-callouts";